
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
*@
@*<a asp-controller="Rider" asp-action="Inventory">Manage your inventory</a>

<a asp-action="Menu" asp-controller="Rider" >Your Menu</a>
<a asp-action="Logout" asp-controller="Rider" >Logout</a>
<button onclick="getLocation()">Get Location</button>*@
@*<button onclick="sendMenu()">Make your menu public</button>
<button onclick="deleteNotifications()">hide your menu</button>
*@



@*<style>

    body  {
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* This line hides horizontal scrollbars if any content overflows */
    }
    *{
        margin:0;
        padding:0;

    }
    .notification {
        color: white;
        text-decoration: none;
        padding: 1px 1px;
        position: relative;
        display: inline-block;
        border-radius: 2px;
        margin-right: 3%;
    }

        .notification .badge {
            position: relative;
            top: -6px;
            right: -10px;
            padding: 5px 10px;
            border-radius: 50%;
            background: #FEAF39;
            color: white;
        }

    .fixed-bottoms {
        position: fixed;
         right: 162px; 
        bottom: 10%;
        left: 80%;
        z-index: 1030;
    }

    .img-fluids {
        max-width: 72%;
        height: auto;
    }

    
</style>*@

<html>

<head>
  
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Pacifico&display=swap" rel="stylesheet">

    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/rider/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/rider/Home.css" rel="stylesheet">
</head>

<body>
        <!-- Spinner Start -->
     @*   <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>*@
        <!-- Spinner End -->
    @*<div style="color:#19273E" class="fixed-bottoms fixed-end p-3">
        <button onclick="getLocation()" class="btn btn-primary rounded-circle" style="width: 56px; height: 56px;">
            <i class="fas fa-map-marker-alt"></i>
        </button>
    </div>*@
@*        <div class="mycontainer mx-0 p-0 m-0 ">
*@
        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0 m-0">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
                <a href="" class="navbar-brand p-0">
                    <h1 class="text-primary m-0"><i class="fas fa-motorcycle me-3"></i>Road2Door</h1>
                    <!-- <img src="img/logo.png" alt="Logo"> -->
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="fa fa-bars"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <div class="navbar-nav ms-auto py-0 pe-4">
                        <a href="" class="nav-item nav-link active">Home</a>
                        <a href="/Rider/Menu" class="nav-item nav-link">Menu</a>
                        <a href="/Rider/Inventory" class="nav-item nav-link">Manage Inventory</a>
                        <a class="nav-item nav-link" href="#" onclick="sendMenu(); return false;">Make your menu public</a>
                       <a class="nav-item nav-link" href="#" onclick="deleteNotifications(); return false;">Hide your menu</a>
                        <a  asp-controller="Rider" asp-action="ViewOrders" class="nav-item nav-link notification">
                            <i class="fa fa-bell" style="font-size:20px;color:#FEAF39"></i>
                            <span class="badge">0</span>
                        </a>

                      
                        <!-- <div class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Pages</a>
                            <div class="dropdown-menu m-0">
                                <a href="booking.html" class="dropdown-item">Booking</a>
                                <a href="team.html" class="dropdown-item">Our Team</a>
                                <a href="testimonial.html" class="dropdown-item">Testimonial</a>
                            </div>
                        </div> -->
                        <!-- <a href="contact.html" class="nav-item nav-link">Contact</a> -->
                    </div>
                    <a asp-controller="Rider" asp-action="Logout" class="btn btn-primary py-2 px-4">Logout</a>
                </div>
            </nav>

            <div class="container-xxl py-5 bg-dark hero-header mb-5">
                <div class="container my-5 py-5 ">
                    <div class="row align-items-center g-5">
                        <div class="col-lg-6 text-center text-lg-start">
                            <h1 class="display-4 text-white animated slideInLeft">Delivering Delight</h1>
                            <p class="text-white animated slideInLeft mb-4 pb-2">"Road2Door Riders On the Move, Bringing Convenience to Your Doorstep"</p>
                        <a href="#" onclick="getLocation(); return false;" class="btn btn-primary py-sm-3 px-sm-5 me-3 animated slideInLeft">
                            <i class="fas fa-map-marker-alt me-2"></i> Set Location
                        </a>

                        </div>
                    <div class="col-lg-6 text-center text-lg-end overflow-hidden">
                        <img class="img-fluid" src="/assets/img/riderOnBike.png" alt="" style="width: 294px; height: auto; margin-right: 50px;">
                    </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
@*
    </div>
  *@

</body>

   @* <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>*@
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/lib/wow/wow.min.js"></script>
    <script src="/lib/easing/easing.min.js"></script>
    <script src="/lib/waypoints/waypoints.min.js"></script>
    <script src="/lib/counterup/counterup.min.js"></script>
    <script src="/lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="/lib/tempusdominus/js/moment.min.js"></script>
    <script src="/lib/tempusdominus/js/moment-timezone.min.js"></script>
    <script src="/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js"></script>

  
    <script src="/js/rider/Home.js"></script>
<script>

    // window.onload=getLocation;
    var cleanupTimer;
    var sendMenuTimer;


    function getLocation() {
        if (navigator.geolocation) {
            // Retrieve the location initially
            navigator.geolocation.getCurrentPosition(sendPosition);
            // Set an interval to retrieve the location periodically (e.g., every 10 seconds)
            setInterval(function () {
                navigator.geolocation.getCurrentPosition(sendPosition);
            }, 1000); // 10,000 milliseconds = 10 seconds
        } else {
            alert("Geolocation is not supported by this browser.");
        }
    }


    function sendPosition(position) {
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;

        // Send the latitude and longitude to the server using AJAX
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Rider/UpdateLocation", true); // Replace "Rider" with your controller name
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send("latitude=" + latitude + "&longitude=" + longitude);

    }

    function sendMenu() {

        cleanupTimer = setInterval(function () {
            performCleanup();
        }, 1000);

        sendMenuTimer = setInterval(function () {
            sendMenuToConsumers();
        }, 1000);


    }
    function stopIntervals() {
        console.log("inside stop");
        // clearInterval(cleanupTimer);
        performCleanup();
        clearInterval(sendMenuTimer);
    }

    function sendMenuToConsumers() {
        getLocation();

        console.log("inside send menue funccccc");
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Rider/SendMenu", true); // Replace "Rider" with your controller name
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send();

    }

    function deleteNotifications() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Rider/DeleteNotifications", true); // Replace "Rider" with your controller name
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send();
        clearInterval(sendMenuTimer);
        clearInterval(cleanupTimer);


    }
    function processNotifications(notifications) {
        // Clear the existing menu details
        console.log(notifications);
        var badge = document.querySelector(".notification .badge");
        badge.textContent = notifications;

    }

    function performCleanup() {

        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/Rider/NotificationCleanup", true); // Replace "Rider" with your controller name
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.send();
    }
    function checkForNotification() {
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/Rider/CheckForNotification", true);

        xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE && xhr.status === 200) {
                // Parse the JSON response
                var notifications = JSON.parse(xhr.responseText);

                // Process the notifications
                processNotifications(notifications);
            }
        };

        xhr.send();
    }
    $(document).ready(function () {

        checkForNotification();


        setInterval(checkForNotification, 1000);
    });
   
    
</script>



</html>
