@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860

*@


<html>


<head>
    <link href="/css/rider/signup.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" />


    <script type="text/javascript" src="/js/site.js"></script>
</head>


<body>

    <div class="container mt-5 mb-6">
        <div class="row d-flex align-items-center justify-content-center">

            <div class="col-md-5">

                <div class="card px-5 py-5">
                    <h5 class="card-title text-center"><a class="text-warning" asp-controller="Rider" asp-action="Snapshots">Open Snapshots</a></h5>

                    <form id="first-form" enctype="multipart/form-data" method="post" asp-controller="Rider" asp-action="SignUp">
                        <div id="signup-slide">
                        <h2 class="text-center">Rider SignUp</h2>

                        <div class="form-input">

                            <i class="fa fa-user"></i>
                            <input type="text" class="form-control" id="name" name="name" placeholder="Name" required>

                        </div>
                        <div class="form-input">

                            <i class="fa fa-envelope"></i>
                            <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>

                        </div>
                        <div class="form-input">

                            <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" name="password" id="password" placeholder="Password" required>

                        </div>

                        <div class="form-input">

                            <i class="fa fa-id-card"></i>
                            <input type="text" class="form-control" name="cnic" id="cnic" placeholder="Cnic" >

                        </div>
                        <div class="form-input">

                            <i class="fa fa-phone"></i>
                            <input type="text" class="form-control" name="phoneNumber" id="phone" placeholder="Phone Number" required>

                        </div>

                        <div class="form-input">
                            <button type="button" onclick="showUploadSlide()" class="mx-auto btn rounded-pill btn-warning mt-4 signup">Next</button>
                        </div>
                        </div>


                        <div id="upload-slide" style="display: none;">
                            <div class="form-input">
                                <label for="license">License:</label>
                                <input type="file" id="license" name="License">
                            </div>
                            <div class="form-input">
                                <label for="criminal-record">Criminal Record:</label>
                                <input type="file" id="criminal-record" name="CriminalRecord">
                            </div>
                            <div style="text-align:center" class="form-input">
                                <button value="submit" onclick="uploadFiles()" name="submit" class="mx-auto btn rounded-pill btn-warning mt-4 signup">Sign Up</button>
                                <button type="button" onclick="showSignUpSlide()" class="mx-auto btn rounded-pill  btn-warning mt-4 signup">Back</button>
                            </div>
                        </div>
                       



                    </form>
                    <div class="text-center mt-4">

                        <span>Already Have an Account?</span>
                        <a href="@Url.Action("SignIn", "Rider")" class="text-decoration-none text-warning">Sign In</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>





 <script src="/js/rider/signup.js"></script>

</html>


