################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Road2Door.sln
*.dll
*.suo
/gitignore
*.vs
.vs
.vs/Road2Door/v17/.suo