@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
body {
    background-color: #f7f5f5;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}
/* .riderConsumerGif
                {
                    height: 400px;
                    width: 595px;
                }*/
.height {
    height: 100vh;
}

.card {
    border: none;
    padding: 20px;
    background-color: #333333;
    color: #fff;
}

.form-input {
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
}

    .form-input i {
        position: absolute;
        font-size: 18px;
        top: 15px;
        left: 10px;
    }

.form-control {
    height: 50px;
    background-color: #333333;
    text-indent: 24px;
    font-size: 15px;
}

    .form-control:focus {
        background-color: #333333;
        box-shadow: none;
        color: #fff;
        border-color: #ffc107;
    }

.signup {
    height: 45px;
    width: 130px;
    font-size: 18px;
}

