<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
          crossorigin="anonymous" />
    <title>Rider guidance page.</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <h5>
        Hi Dear User, Following are the Guidelines you can follow to make
        <br />sure how our app works for a rider
    </h5>
    <h5>1->Want to change your password or contact info ?</h5>
    <div class="text-center">
        <img src="assets/img/Rider_Account1.png" class="img-thumbnail" alt="Change Info" />
    </div>
    <p>&ensp; This is info related for changing your account info & password</p>
    <h5>2->Guidance to Rider home page</h5>
    <div class="text-center">
        <img src="assets/img/Rider_HomePage.png" alt="Rider Homepage" width="600" height="333" />
    </div>
    <p>
        &ensp; Below Welcome, on most-left, rider is given search button to search
        any thing, in the middle, you can click previous orders history.<br />
        &ensp; On the most-right, you can click to change your account
        settings.<br />
        &ensp; The button on the left is to change your location, button on the
        right side of screen on bottom is generate new MENU.
    </p>
    <h5>3->Creating Menu</h5>
    <div class="text-center">
        <img src="assets/img/Rider_menu.png" alt="Create Menu" width="600" height="333" />
    </div>
    <p>
        &ensp; You can add new item by clicking plus button, name your item, add
        some description, add quantity and it's price.
    </p>
    </p>
    <h5>4->Looking for best place to sell your item ?</h5>
    <div class="text-center">
        <img src="assets/img/Rider_Areas1.png" alt="best Areas to sell item" width="auto" height="333" />
    </div>
    <p>
        &ensp; You can view top areas with respect of daily/monthly/weekly basis and you can see
        what item is selling well in that area.
    </p>
    <h5>5-> Contact your Customer</h5>
    <div class="text-center">
        <img src="assets/img/Rider_Message.png" alt="Messaging feature" width="700" height="333" />
    </div>
    <p>&ensp; Once the order is placed, you can play message message with your customer.</p>
    <h5>6-> Customer Reciept</h5>
    <div class="text-center">
        <img src="assets/img/Rider_Receipt.png" alt="Bill Generation" width="500" height="300" />
    </div>
    <p>&ensp; Once your order is completed, Reciept will be generated to charge your customer accordingly.</p>
</body>
</html>
