

<html>
          
<head>
    <link href="/css/consumer/signin.css"  rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

   

</head>
<body>
<div class="container mt-5 mb-6">
    @*        <img src="/assets/img/delivery.gif" alt="Image" class="riderConsumerGif" />
    *@
    <div class="row d-flex align-items-center justify-content-center">

        <div class="col-md-5">

            <div class="card px-5 py-5">
                <h2 class="text-center">Consumer SignIn</h2>

                <form method="post" asp-controller="Consumer" asp-action="SignIn">
                    <div class="form-input">

                        <i class="fa fa-envelope"></i>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email address" required>

                    </div>

                    <div class="form-input">

                        <i class="fa fa-lock"></i>
                            <input type="password" class="form-control" name="password" id="Password" placeholder="password" required>

                    </div>

                    <button class="mx-auto btn rounded-pill btn-warning mt-4 signup">Sign in</button>

                </form>
                <div class="text-center mt-4">

                    <span>Don't have an Account?</span>
                    <a href="@Url.Action("SignUp", "Consumer")" class="text-decoration-none text-warning">Sign Up</a>

                </div>

            </div>

        </div>

    </div>

</div>

</body>
</html>